@import "tailwindcss";

@theme {
  --color-a: #f50538;
  --color-b: #000;
  --color-c: #fff;
  /* ... */
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
