@import "tailwindcss";

@theme {
  --color-a: #0ea5e9;
  --color-b: #1f2937;
  --color-c: #fff;
  /* ... */
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
