Custom Toast Styles
.toast-success {
    background-color: #28a745 !important; /* Green */
    color: white !important;
  }
  
  .toast-error {
    background-color: #dc3545 !important; /* Red */
    color: white !important;
  }
  
  .toast-info {
    background-color: #17a2b8 !important; /* Blue */
    color: white !important;
  }

  svg {
    background: none !important;
  }

  /* src/styles/toastStyles.css */
.toast-success {
  background-color: #4caf50 !important; /* Green */
  color: white !important;
}

.toast-error {
  background-color: #f44336 !important; /* Red */
  color: white !important;
}

.toast-info {
  background-color: #2196f3 !important; /* Blue */
  color: white !important;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.login-input:focus {
  border-color: #0073e6;
  outline: none;
}

.login-button {
  background-color: goldenrod;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: gold;
}

.cancel-button {
  background-color: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-button:hover {
  background-color: #c7001e;
}
